
    h1{
        margin: center 50px;
        color: rgb(55, 39, 199);
        display: inline-block;
    }
    h2{
        margin-left: 30px;
        color:rgb(72, 66, 126);		
    }
    h3{
        color:rgb(98, 94, 129);
    }
    h4{
        color:lightskyblue;
    }
    p{
        color:rgb(35, 35, 35)
    }
    header{
        background-color: rgb(171, 162, 9);
    }
    section{
        background-color: cornsilk;
    }
    footer{
        background-color: rgb(239, 163, 176);
    }
    header a {
        font-size: 30px;
        margin-left: 80px;
        margin-right: 150px;
        text-decoration: none;
        color:black
    }
    header li {
        display: inline-block;
        
    }
    header ul {
        margin-top: 24px;
        float:right;
    }
    section h1 {
        display: block
    }
    header h1 {
        color: black
    }


